@model WhyUs

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h4>Pricing Service Details</h4>
            <hr />
            <p><strong>WhyUs ID:</strong> @Model.Id</p>
            <p><strong>WhyUs Name:</strong> @Model.Name</p>
            <p><strong>WhyUs Description:</strong> @Model.Description</p>

           
        </div>
    </div>
</div>
