<h2>Create Trainer</h2>
<form>
    <input class="form-control" placeholder="Full Name" />
    <input class="form-control" placeholder="Expertise" />
    <textarea class="form-control" placeholder="Bio"></textarea>
    <button class="btn btn-success mt-2">Create</button>
</form>
