<h2>Edit User</h2>
<form>
    <input class="form-control" value="john_doe" />
    <input class="form-control" value="john@example.com" />
    <select class="form-control">
        <option selected>Student</option>
        <option>Admin</option>
    </select>
    <button class="btn btn-primary mt-2">Save</button>
</form>
