@model LoginVm

<section id="login-register" class="inner-page">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4 justify-content-center">

            <!-- Returning Customer Form -->
            <div class="col-lg-10>
                <div class="card p-4 shadow-sm">
                    <h4 class="mb-3">Returning Customer</h4>
                    <p><strong>I am a returning customer</strong></p>
                    <form method="post">
                        <div class="form-group mb-3">
                            <label asp-for="Username">User Name :</label>
                            <input class="mb-0 form-control" asp-for="Username"
                                   placeholder="Enter your user name...">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Password">Password :</label>
                            <input class="mb-0 form-control" asp-for="Password"
                                   placeholder="Enter your password...">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success w-100">Login</button>
                        </div>
                    </form>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                </div>
            </div>

        </div>
    </div>
</section>
