@model Service

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post">
             
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <br />
               
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>