@model Service

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 d-flex">
            <div>
                <div>Service Id : <strong>@Model.Id</strong></div>
                <div>Service FullName : <strong>@Model.Name</strong></div>
            </div>

        </div></
    </div>
</div>

